{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<section class="details-page py-5" id="details">
    <div class="container">
        
        <div class="post-header mb-4">
            <h1 class="text-white">{{ post.question }}</h1>
        </div>

        <div class="comment-form mb-5 p-4 rounded bg-dark">
            <h4 class="text-white mb-3">Answer Here</h4>

            <form action="" method="POST">
                {% csrf_token %}

                {{ form | crispy }}

                <button type="submit" name="action" class="btn btn-primary mt-3">
                    Post Comment
                </button>
            </form>
        </div>
        
        <div class="comments-section">
            <h4 class="text-white mb-4">{{ comment_list.count }} Comments</h4>
            
            <div class="row">
                {% for cmt in comment_list %}
                <article class="col-lg-12 mb-4">
                    <div class="d-flex align-items-start p-3 bg-secondary rounded shadow-sm">
                        
                        <figure class="me-3 mt-1">
                            <div>
                                {% if cmt.profile.profile_picture %}
                                <img class="rounded-circle" src="{{ cmt.profile.profile_picture.url }}" alt="{{ cmt.profile.user.username }}'s Image"
                                    style="width: 4rem; height: 4rem; object-fit: cover;">
                                {% else %}
                                <img class="rounded-circle" src="{% static 'images/noimage.jpg'%}" alt="Placeholder Image"
                                    style="width: 4rem; height: 4rem; object-fit: cover;">
                                {% endif %}
                            </div>
                        </figure>

                        <div class="media-content w-100">
                            <p class="mb-1">
                                {% if cmt.user %}
                                <small class="text-info fw-bold me-2"> @{{ cmt.user.username }} </small>
                                {% else %}
                                <small class="text-danger fw-bold"> Unknown User </small>
                                {% endif %}
                                
                                <p class="text-white mt-1">{{ cmt.body }}</p>

                                <small class="text-muted">
                                    {{ cmt.date|date:"M d, Y P" }} </small>
                            </p>
                        </div>
                    </div>
                </article>
                {% empty %}
                <p class="text-white-50 p-3">Be the first to comment!</p>
                {% endfor %}
            </div>
        </div>
    </div>
    
</section>

{% endblock %}