{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="meetings-page" id="meetings">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-3">
                {% if profile.picture %}
                <span><img class="rounded-circle" src="{{ user.profile.profile_picture.url }}" style="width: 6rem; height: 6rem;"></span>
                {% else %}
                <span><img class="rounded-circle text-white" src="{% static 'images/noimage.jpg'%}" alt="No Profile"
                        style="width: 4rem; height: 4rem;"></span>
                {% endif %}
                <p class="">
                    {% if profile.profile_info %}
    
                    {{ profile.profile_info }}
                    
                    {% endif %}</p>
            </div>
    
            <div class="col-5">
                <span class="profile-user text-white"> @{{ profile.user }}</span>
    
                {% if user.is_authenticated and user == profile.user %}
                <span href="#" class="btn">Edit profile</span>
                {% endif %}
    
                {% if user.is_authenticated and user != profile.user %}
                <p>
                    <span class="heading text-white">{{ posts_count }} Posts</span>
                </p>
                {% endif %}
                <h3 style="font-weight: bold;" class="title is-1 text-white">
                    {% if profile.first_name %}
    
                    {{ profile.first_name }} 
    
                    {{profile.last_name }} 
    
                    {% endif %}
                </h3>
            </div>
        </div>
        <br>
    
        <div class="row">
            <div class="text-center">
                <ul>
                    <ol class="{% if url_name == 'profile' %}is-active{% endif %}">
                        <a class="navbar-item text-white" href="{% url 'profile' %}"><i class="fas fa-cubes"></i>Posts</a>
                    </ol>
                </ul>
            </div>
    
            {% for post in posts %}
            <div class="col-4 card border-0">
                {% if post.content.first.file.name|slice:"-3:" == 'jpg' or post_item.content.first.file.name|slice:"-3:" ==
                'png' %}
                <a href="{{ post.get_absolute_url }}">
                    <img src="{{ post.content.first.file.url }}" alt="Image" class="card-img-top">
                </a>
                
            </div>
            {% empty %}
            <br>
            <div>
                <h3 class="col-10">You do not have any post!</h3>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2022 CODE HUB Co., Ltd. All Rights Reserved.
            <br>Design: <a href="https://github.com/Charlotte-Natasha/CodeHub" target="_parent"
                title="website templates">Charlotte-Natasha</a>
        </p>
    </div>
</section>

{% endblock %}