{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="our-courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Resources that might be of use</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-courses-item owl-carousel">
                    <div class="item">
                        <img src="https://camo.githubusercontent.com/0ebda845c95bf12cdd9ecb9612348a491c1c35c030b4ed9a9dc59ce1abdffc42/68747470733a2f2f6d69726f2e6d656469756d2e636f6d2f6d61782f313035302f312a61394c375a5a6869386849414a6d57586d53615058772e706e67" alt="Course One">
                        <div class="down-content">
                            <h4>Practice your kata challenges here..</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-4">
                                        <a class="btn" href="https://www.codewars.com/dashboard" target="_blank">Read More..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://netstorage-tuko.akamaized.net/images/cb50d5122f1782ef.png" alt="Course Two">
                        <div class="down-content">
                            <h4>Has one of the best coding courses. Start your journey to coding here.</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <!-- <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul> -->
                                    </div>
                                    <div class="col-4">
                                        <a class="btn" href="https://moringaschool.com/" target="_blank">Read More..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://s3.amazonaws.com/coursesity-blog/2021/04/Google-Certification-Classes.png" alt="">
                        <div class="down-content">
                            <h4>Everyone has heard of google courses. If you haven't then what are you waiting for? </h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <!-- <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul> -->
                                    </div>
                                    <div class="col-4">
                                        <a class="btn" href="https://www.google.com/aclk?sa=l&ai=DChcSEwjlwYHzycT4AhWrj2gJHbSxBJIYABACGgJ3Zg&ae=2&sig=AOD64_3O4PqVedCcWzznnwVhG9kcZCVAtA&q&adurl&ved=2ahUKEwjlofnyycT4AhVL5IUKHUmzAL4Q0Qx6BAgCEAE" target="_blank">Read More..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://learntocodewith.me/wp-content/uploads/2020/12/code-with-mosh-1024x594.png" alt="">
                        <div class="down-content">
                            <h4>Master the coding skills to become an engineer companies LOVE to hire.</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <!-- <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul> -->
                                    </div>
                                    <div class="col-4">
                                        <a class="btn" href="https://www.google.com/aclk?sa=l&ai=DChcSEwitjZPdycT4AhWN-NUKHR73D0oYABAAGgJ3cw&ae=2&sig=AOD64_195yccfuz7WhZ4rWAPzWcGKBMztA&q&adurl&ved=2ahUKEwiF94rdycT4AhULUhoKHXRQDqEQ0Qx6BAgCEAE" target="_blank">Read More..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://cssgradient.io/images/css-gradient-share-23a5b71f.png" alt="">
                        <div class="down-content">
                            <h4>Gradients are CSS elements of the image data type that show a transition between two or more colors.</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <!-- <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul> -->
                                    </div>
                                    <div class="col-4">
                                        <a class="btn" href="https://cssgradient.io/" target="_blank">Read More..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://s3.eu-west-3.amazonaws.com/xranks/templatemo.com-b653da0e65fd64f833c81477be2fbe91a0b5bb5427922d21fadee44fcf97a396.jpg" alt="">
                        <div class="down-content">
                            <h4>TemplateMo is the best website for Free CSS</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <!-- <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul> -->
                                    </div>
                                    <div class="col-4">
                                        <a class="btn" href="https://templatemo.com/" target="_blank">Read More..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://yt3.ggpht.com/ytc/AKedOLQGJzANzs2ymcXNw3LKBSpQj9EpJojb5a6JY6oPlQ=s900-c-k-c0x00ffffff-no-rj" alt="">
                        <div class="down-content">
                            <h4>Web Design Templates at your finger tips and learn the coolest CSS.</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <!-- <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul> -->
                                    </div>
                                    <div class="col-4">
                                        <a class="btn" href="https://www.instagram.com/onlinetutorials_youtube/" target="_blank">Read More..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://cdn.freecodecamp.org/platform/universal/fcc_meta_1920X1080-indigo.png" alt="">
                        <div class="down-content">
                            <h4>A non-profit organization that consists of an interactive learning web platform that intend to make learning web development accessible to anyone.</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <!-- <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul> -->
                                    </div>
                                    <div class="col-4">
                                        <a class="btn" href="https://www.freecodecamp.org/" target="_blank">Read More..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{% static 'assets/images/course-01.jpg' %}" alt="">
                        <div class="down-content">
                            <h4>Responsive HTML Templates for you</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <!-- <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul> -->
                                    </div>
                                    <div class="col-4">
                                        <a class="btn" href="https://webflow.com/free-html5-templates?utm_source=google&utm_medium=searchutm_campaign=&utm_term=dsa-833819572213__self-serve_ss_paid-bb&gclid=Cj0KCQjwntCVBhDdARIsAMEwACmSRp1QGYgeXUbUrrnRd7K-2dsVnSt7DIhAQPtsmUp1VkKZKAa_3ZQaAvWxEALw_wcB" target="_blank">Read More..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{% static 'assets/images/course-02.jpg' %}" alt="">
                        <div class="down-content">
                            <h4>Download Free CSS Layouts for your business</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <!-- <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul> -->
                                    </div>
                                    <div class="col-4">
                                        <a class="btn" href="https://www.codewars.com/dashboard" target="_blank">Read More..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://4.bp.blogspot.com/-PKCcVJ7liNc/Xyi8xP2lVJI/AAAAAAAADbc/jPVJaVa9cCY1YIZsibT0Qe9YWTJbV2zWACLcBGAsYHQ/s1600/harvardx.png" alt="">
                        <div class="down-content">
                            <h4>Launched in parallel with edX (a non-profit learning platform founded by Harvard and MIT), HarvardX independently represents Harvard's academic diversity...</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <!-- <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul> -->
                                    </div>
                                    <div class="col-4">
                                        <a class="btn" href="https://www.edx.org/school/harvardx" target="_blank">Read More..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2022 CODE HUB Co., Ltd. All Rights Reserved.
            <br>Design: <a href="https://github.com/Charlotte-Natasha/CodeHub" target="_parent"
                title="website templates">Charlotte-Natasha</a>
        </p>
    </div>
</section>

{% endblock %}