<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    
                    <a href="{% url 'home' %}" class="logo">
                        Code Hub
                    </a>
                    <ul class="nav">
                        <li class=""><a href="{% url 'home' %}" 
                            {% if request.resolver_match.url_name == 'home' %}class="active"{% endif %}>Home</a></li>
                        <li class=""><a href="{% url 'community' %}">Community</a></li>
                        
                        <li class="has-sub">
                            <a href="javascript:void(0)">Pages</a> 
                            <ul class="sub-menu">
                                <li><a href="{% url 'process' %}">Interview Process</a></li>
                                <li><a href="#">Jobs Here</a></li>
                            </ul>
                        </li>
                        
                        <li class=""><a href="{% url 'resources' %}">Resources</a></li> 
                        <li class=""><a href="{% url 'contact' %}">Contact Us</a></li>
                        
                        <li class="has-sub">
                            <a href="{% if user.is_authenticated %}{% url 'profile' %}{% else %}{% url 'login' %}{% endif %}">Profile</a>
                            
                            <ul class="sub-menu">
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'profile' %}">{{ user.username }}</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">Log Out</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{% url 'login' %}">Log In</a>
                                </li>
                                <li>
                                    <a href="{% url 'signup' %}">Sign Up</a> 
                                </li>
                                {% endif %}
                            </ul>
                        </li> 
                    </ul>        
                    
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    </nav>
            </div>
        </div>
    </div>
</header>